<div id="<%= dom_id barcode %>">
  <p>
    <strong>Code:</strong>
    <%= barcode.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= barcode.name %>
  </p>

  <p>
    <strong>Been set:</strong>
    <%= barcode.been_set %>
  </p>

</div>
